ul.navbar-nav {
    padding: 0 8vw;
}

li.nav-item {
    margin: 0 10px;
}

.container {
    max-width: 100%;
    padding: 0 8vw;
}

h1 {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 2vw;
    font-size: 30pt;
}

.row {
    padding: 0;
    max-width: 100%;
    margin: 0;
}

/* .card {
    max-width: 35vw;
    padding: 0;
    margin: 10px auto;
} */

.card {
    width: 100%;
    height: 100%;
}

.card-cover {
    margin: 10px auto;
    padding: 0 30px;
}

.card-title {
    font-size: 16pt;
}

p.card-text {
    font-size: 11pt;
}

.card-body > .btn{
    display: block;
    margin: auto;
}

h5.card-title {
    font-size: 20pt;
}

#contact li a {
    font-size: 15pt;
}