ul.navbar-nav {
    padding: 0 6vw;
}

li.nav-item {
    margin: 0 10px;
}

.container {
    margin-top: 35px;
    max-width: 100%;
    padding: 0 6vw;
}

h1 {
    margin-bottom: 20px;
    margin-left: 2vw;
    font-size: 30pt;
}

.row {
    padding: 0;
    max-width: 100%;
    margin: 0;
}

.card {
    max-width: 35vw;
    padding: 0;
    margin: 10px auto;
}

.card-img-top {
    width: 100%;
}

.card-title {
    font-size: 16pt;
}

p.card-text {
    font-size: 11pt;
}

.card-body > .btn{
    display: block;
    margin: auto;
}

h5.card-title {
    font-size: 20pt;
}

.book-cover {
    max-width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.125);
}

.conf_list {
    padding: 0 70px;
}

.conf_list li {
    margin: 20px 0;
}

@media(max-width: 768px) {

    ul.navbar-nav {
        padding: 0;
    }

    .container {
        padding: 0;
    }

    .card {
        max-width: 90%;
        margin: 10px auto;
    }

    h1 {
        display: block;
        margin-left: 5vw;
    }
}
