li.nav-item {
    margin: 0 10px;
}

.container {
    margin-top: 35px;
    max-width: 100%;
    padding: 0 10vw;
}

.card {
    max-width: 35vw;
    padding: 0;
    margin: 10px auto;
}

.card-img-top {
    width: 100%;
}

.card-title {
    font-size: 16pt;
}

p.card-text {
    font-size: 11pt;
}

@media(max-width: 992px) {
    .card {
        max-width: 75%;
        margin: 10px auto;
    }
}

.card-body > .btn{
    display: block;
    margin: auto;
}

.card-box {
    padding: 5vw;
}