ul.navbar-nav {
    margin-left: 6vw;
}

#container {
    margin-top: 35px;
    max-width: 100%;
    margin: 0 6vw;
}

#contentArea {
    max-width: 100%;
    margin: 30px;
}

#section {
    margin: 30px 0;
}

.embed {
    margin: 0px 40px;
}

iframe {
    width: 100%;
}

img {
    max-height: 200px;
    max-width: 100%;
}

h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}

h4 {
    margin: 15px 0;
}

p {
    font-size: 11pt;
}

li {
    margin: 0 10px;
}

@media(max-width: 992px){

    .embed {
        margin: 0 10px;
    }

    ul.navbar-nav {
        margin: 0;
    }

    #container {
        margin: 0;
    }

    #contentArea {
        margin: 30px 15px 0 15px;
    }
}