nav.navbar {
    padding-left: 6vw;
}

.nav-item {
    margin: 0 10px;
}

div.container {
    max-width: 100%;
    padding: 0 6vw;
    margin-top: 35px;
}

div.row {
    max-width: 100%;
    margin-left: 0;
}

img {
    border: 0.8px solid gray;
    max-width: 100%;
}

img.card-img-top {
    display: block;
    max-width: 50%;
}

h4.card-title, h3 {
    margin-bottom: 2px;
}

.card-cover {
    margin: 10px auto;
    padding: 0 10px;
}

.card-cover .card {
    height: 100%;
}

@media(max-width: 767px) {
    h3 {
        margin-top: 10px;
    }
}